<div>
    <h1 mat-dialog-title>
        <mat-toolbar class="task-header" color="primary">
            <mat-toolbar-row>
                <div class="header-row">Change Password:</div>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <div class="header-row">{{userResource["Full Name"]}}</div>
            </mat-toolbar-row>
        </mat-toolbar>
    </h1>

    <div mat-dialog-content class="form-wrapper">
        
        <form [formGroup]="changePasswordForm" (ngSubmit)=" changePassword()">

            <mat-form-field class="justifier" appearance="legacy">
                <mat-label>New Password</mat-label>
                <input matInput formControlName = "password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>A new password is required</mat-error>
            </mat-form-field>
            
    
            <mat-form-field class="justifier" appearance="legacy">
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName = "confirmPassword" [type]="hide ? 'password' : 'text'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>Passwords must match</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary"  
            type="submit"
            [disabled]= "!changePasswordForm.valid">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Update</button>
    
            <button mat-button 
                style= "float: right; margin-bottom: 15px;"
                type ="button"
                (click)="close()">Close</button>
            
        </form>
    </div>
</div>