

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { 
  height: 100%; 
  background-color: rgb(237, 240, 251);
}



body{
  margin:0px !important;
  overflow: hidden;
  overflow-y: auto;
}
.add-btn{
  position: fixed;
  right: 25px;
  bottom: 20Px;
}

/** form **/
.form-wraper{
  width: 100%;
  margin-top: 2%;
 
}

.form-container{
  width: 35%;
  margin: auto;
  padding-bottom: 24px !important;
  display: block;
  background: rgb(253, 253, 253);
 
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
}

/** form header **/
.form-header{
  padding: 24px 0;
}
.form-title{
  text-align: center;
  font-weight: 200;
  font-size: 2.5em;
}
.main-lock-icon{
  width: 20%;
  margin: 5px auto;
  display: block;
}

/** form body **/
.form-body{
  padding: 0 24px;
}
.justifier {
  width: 100%;
}
.form-input{
  margin-top: 24px;
}

/** form footer **/
.form-footer{
  padding: 24px;
}
.btn{
  display: block;
  width: 100%;
  padding: 5% !important;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 18px;
}
.custom-btn{
  margin-bottom: 15px;
  background: #3f51b5;
  color: #fff;
}

.txt{
  text-align: center;
  color: #333;
  margin: 10px auto !important;
}
.additional-link{
  padding: 10px auto;
  text-align: center;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px;
  width: 300px;
  margin: 0px;

}


a{
  text-decoration: none;
  color: rgb(42, 125, 219);
}


.snackBar {
  background-color: #009FF2;
  color: white;
}

.snackBarError {
  background-color: red;
  color: white;

}


/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/


