.task-header {
    color: white;
    padding: 0px;
    height: 20px;
    width: 100%;
    font-weight: bold; 
}
  
.form-wrapper {
    margin: 5px!important;
}

.error-msg {
  color: red;
  font-size: smaller;
  text-align: center;
  margin-bottom: 5px;
}

  