.task-header {
    color: white;
    padding: 0px;
    height: 20px;
    width: 100%;
    font-weight: bold;
}

.header-row {
    margin: auto;
}
  
.form-wrapper {
    margin: 5px!important;
}

.error-msg {
  padding: 10px;
  color: red;
  font-size: smaller;
}

  