.task-header {
    color: white;
    padding: 0px;
    height: 20px;
    width: 100%;
    font-weight: bold;   
}

.header-row {
    margin: auto;
}
  
.form-wrapper {
    margin: 5px!important;
}

.error-msg {
  padding: 10px;
  color: red;
  font-size: smaller;
}

.loading-shade {   
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioButtons {
    padding: 10px;
    display:flex ;
    width:100%;  
}