<!-- Dialog box header -->
<div>
    <h1 mat-dialog-title>
        <mat-toolbar class="task-header" color="primary">
            <mat-toolbar-row>
                <span style="margin:auto">Change Email-Address</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </h1>

    <!-- Change Email form  -->
    <div mat-dialog-content class="form-wrapper">
        
        <form [formGroup]="changeEmailForm" (ngSubmit)=" changeEmail()">
            
            <mat-form-field class="justifier" appearance="legacy">
                <mat-label>New Email-Address</mat-label>
                <input matInput formControlName = "emailAddress">
                <mat-error> This is not a valid email-address</mat-error>
            </mat-form-field>
            <div class="error-msg">
                <span *ngIf="isEmailError" >{{emailError}}</span>
            </div>

            <mat-form-field class="justifier" appearance="legacy">
                <mat-label>Confirm Email-Address</mat-label>
                <input matInput formControlName = "confirmEmailAddress">
                <mat-error>Confirm Email is required</mat-error>
            </mat-form-field>
            
            <mat-form-field class="justifier" appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput formControlName = "password" [type]="hide ? 'password' : 'text'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>Passwords must match</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary"  
                type="submit"
                [disabled]= "!changeEmailForm.valid">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update</button>
    
            <button mat-button 
                style= "float: right; margin-bottom: 15px;"
                type ="button"
                (click)="close()">Close</button>
            
        </form>
    </div>
</div>