.example-header-image {
    background-image: url("../../assets/icons/account-icon-25499.png");
    background-size: cover;
    float: left;
  }

.game-card {
    width: 120px;
    height: 180px;
    background-color: #363737;
    color: white;
   
    
    
} 

.card-content {
    text-align: center;
    font-size: 8px;
} 

.card-img {
    background-size: cover;
    max-height: 140px;
}

.card-wrapper {
    
}

.game-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
}

.selected-card {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }
