.example-header-image {
    background-image: url("../../assets/icons/account-icon-25499.png");
    background-size: cover;
    float: left;
  }

.game-card {
    width: 120px;
    height: 180px;
    background-color: #363737;
    color: white;
    margin-top: 5px;
    
} 

.mat-input-element:disabled {
    color: black!important;
}

.card-content {
    text-align: center;
    font-size: 8px;
} 

.card-img {
    background-size: cover;
    max-height: 140px;
}

.game-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
}

.edit-user-btn {
    border: none;
    outline:none;

  }