
<mat-card class = "card">
    <mat-card-header>
        
        <div style="display:inline-block;">
            <mat-card-title>Account Information</mat-card-title>
        </div>
       
    </mat-card-header>

    <mat-card-content>

        <div style="display:inline-block;vertical-align:top;">
            <div mat-card-avatar class="example-header-image"></div>
        </div>
        <div style="display:inline-block;">
           <div style="font-weight: bold;">Username</div>
           <div>{{accountForm.get("emailAddress").value}}</div>   
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="edit-user-btn">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="edit-user-btn" (click)="updateUserPassword()">
              <mat-icon>visibility_off</mat-icon>
              <span>Change Password</span>
            </button>
            <button mat-menu-item class="edit-user-btn" (click)="updateUserEmail()">
              <mat-icon>alternate_email</mat-icon>
              <span>Change Email</span>
            </button>
          </mat-menu>
     
        <form [formGroup]="accountForm" style="margin-top: 40px;"> 
        
       

        <mat-form-field class="justifier" appearance="legacy">
            <mat-label>First Name</mat-label>
            <input matInput formControlName = "firstName" class="form-input">
            <mat-error>An First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class="justifier" appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName = "lastName" class="form-input">
            <mat-error>A Last Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class="justifier" appearance="legacy">
            <mat-label>Date of Birth</mat-label>
            <input matInput readonly="true" [value]="user.dateOfBirth" >
          </mat-form-field>

    </form>
    </mat-card-content>
    <mat-card-actions>

    <div *ngIf = "accountForm.disabled">
      <button mat-raised-button
            (click)="accountForm.enable()"
            class="edit-user-btn"
            color="primary" >
            EDIT</button>
    </div>
    <div *ngIf = "accountForm.enabled">
        <button mat-raised-button
            (click)="accountForm.disable()"
            class="edit-user-btn">
            CANCEL</button>
        <button mat-raised-button
            [disabled] = "accountForm.pristine"
            style="float: right;"
            (click)="updateUserDetails()"
            class="edit-user-btn"
            color="primary">
            SAVE
            <span *ngIf="updateUserLoading" class="spinner-border spinner-border-sm mr-1"></span>
        </button>
            
    </div>
    

    </mat-card-actions>
  </mat-card>

<div class="game-wrapper">
 <mat-accordion class = "card">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        My Games
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="flex-container" 
    fxLayout = "row wrap"
    fxLayoutGap ="5px"
    fxLayoutAlign="center center">
    <mat-card *ngFor="let game of userGames" class="game-card" >
    <img mat-card-image [src]="game.thumbnail" class="card-img">
    <mat-card-content class= "card-content">
        {{game.name}}
      </mat-card-content>
    </mat-card>
    </div>



    

  </mat-expansion-panel>
</mat-accordion>
</div>
